<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfit.springbootshop.mapper.StudentMapper">
    <!-- 新增学生信息 -->
    <insert id="saveStudent" parameterType="com.wfit.springbootshop.entity.Student">
        insert into t_student values (
                                      #{id},
                                      #{name},
                                      #{age},
                                      #{sex}
                                     )
    </insert>

<!--    修改学生信息-->
    <update id="updateStudent" parameterType="com.wfit.springbootshop.entity.Student">
        update t_student set name = #{name},age=#{age},sex=#{sex} where id = #{id}
    </update>

<!--    删除学生信息-->
    <delete id="delStudent" parameterType="java.lang.String">
        delete from t_student where id = #{id}
    </delete>

<!--    查询学生信息-->
    <select id="queryStudent" resultType="com.wfit.springbootshop.entity.Student">
        select * from t_student
    </select>
</mapper>