<?xml version="1.0" encoding="UTF-8"?>
<!--        private String id;// &#45;&#45;AUTO_INCREMENT '用户id',-->
<!--        private String username;//VARCHAR(20) NOT NULL UNIQUE, &#45;&#45;'用户名',-->
<!--        private String password;//CHAR(32) //NOT NULL, &#45;&#45; '密码',-->
<!--        private String phone; //VARCHAR(20)  //,&#45;&#45; '电话号码',-->
<!--        private String email; //VARCHAR(30)  //,&#45;&#45; '电子邮箱',-->
<!--        private int gender;//,&#45;&#45; '性别:0-女，1-男',-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfit.springbootshop.mapper.UserMapper">
    <!-- 新增学生信息 -->
    <insert id="saveUser" parameterType="com.wfit.springbootshop.entity.User">
        insert into t_user values (
                                    #{id},
                                    #{username},
                                    #{password},
                                    #{phone},
                                    #{email},
                                    #{gender},
                                    #{member}
                                     )
    </insert>

    <!--    修改学生信息  不返回信息-->
    <update id="updateUser" parameterType="com.wfit.springbootshop.entity.User">
        update t_user set username = #{username},password = #{password},phone = #{phone},email = #{email},gender = #{gender},member = #{member} where id = #{id}
    </update>


    <!--    删除学生信息-->
    <delete id="delUser" parameterType="java.lang.String">
        delete from t_user where id = #{id}
    </delete>

    <!--    查询学生信息-->
    <select id="queryUser" resultType="com.wfit.springbootshop.entity.User">
        select * from t_user
    </select>

<!--    查询学生id-->
    <select id="queryUserById" resultType="com.wfit.springbootshop.entity.User">
        select * from t_user where id = #{id}
    </select>

<!--    更改密码  返回int类型，表示修改的行数-->
    <update id="updatePasswordById">
        UPDATE t_user SET password = #{password} WHERE id = #{id};
    </update>

<!--String id, String phone, String email, String gender-->
    <update id="updateInfoById">
        UPDATE t_user SET phone = #{phone},email = #{email},gender = #{gender} WHERE id = #{id}
    </update>

    <!-- 根据ID查询会员状态 -->
    <select id="getmemberById" resultType="int">
        SELECT member
        FROM t_user
        WHERE id = #{id}
    </select>

    <!-- 根据ID设置会员状态 -->
    <update id="updatememberByid">
        UPDATE t_user
        SET member = #{member}
        WHERE id = #{id}
    </update>


    <!-- 查询地址信息 -->
    <select id="queryAddressByUserid" resultType="com.wfit.springbootshop.entity.Address">
        SELECT * FROM t_address WHERE userid = #{userid}
    </select>

    <!-- 删除地址信息 -->
    <delete id="delAddressByid">
        DELETE FROM t_address WHERE id = #{id}
    </delete>


</mapper>